
<p-panel header="Pipes no muy comunes" class="p-2">
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>Saludos {{ name }}, es un placer {{ gender | i18nSelect: invitationMap}} en este evento</p>
      <p-button (click)="changeClient()" label="Cambiar persona"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>{{clientes.length | i18nPlural:clientesMap}}</p>
      <p-button (click)="RemoveCustomer()" label="Borrar Cliente"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice pipe" [toggleable]="true">
      <strong>Original</strong>
      <pre>{{clientes }}</pre>

      <strong>slice</strong>
      <pre>{{clientes | slice:0:3 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json pipe" [toggleable]="true">
      <pre>{{person | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          {{ item.key| json }}
          {{ item.value| json }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async pipe" [toggleable]="true">
      <pre>{{myObserrvableTimer | async}}</pre>
      <pre>{{promiseValue | async}}</pre>
    </p-fieldset>
  </div>

</div>
